@font-face {
    font-family: "custom";
    src: url("./CaviarDreams.ttf");
}

@font-face {
    font-family: "script";
    src: url("./High_Spirited.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* couleurs */
    --col-dark-main: #0b1622;
    --col-dark-alt: #0d2a38;
    --col-light: #c2eef4;
    --col-shadow: #c2eef4b7;
}

html {
    font-size: 16px;
}

body {
    font-family: "custom", sans-serif;
    background-color: var(--col-dark-main);
    color: var(--col-light);
}

/* header */
header {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--col-dark-alt);
    border-bottom: var(--col-light) solid 1px;
    padding: 20px;
    z-index: 10;

}

h1 {
    font-family: "script", sans-serif;
    font-size: 3rem;
    margin: 0 25px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.header-title {
    width: 35%;
    display: flex;
    align-items: center;
}

.header-title>img {
    display: block;
    width: 12%;
    border-radius: 15%;
}

nav {
    width: 60%;
    display: flex;
    justify-content: end;
    align-items: center;
}

/* boutons */
.btn {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 8px 25px;
    border-radius: 10px;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    margin: 0 15px;
    cursor: pointer;
}

.btn-dark {
    background-color: var(--col-dark-alt);
    color: var(--col-light);
}

.btn-dark:hover {
    background-color: var(--col-dark-main);
}

.btn-light {
    background-color: var(--col-light);
    color: var(--col-dark-main);
    margin: 0 35px;
}

.btn-light:hover {
    background-color: var(--col-dark-alt);
    color: var(--col-light);
    border: var(--col-light) solid 2px;
    padding: 4px 21px;
}

/* main */
main {
    position: relative;
    top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 78vh;
}

/* Articles en cards */
.article-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--col-dark-alt);
    border: 2px solid var(--col-light);
    border-radius: 20px;
    padding: 50px;
    margin: 20px 0;
    box-shadow: var(--col-shadow) 2px 2px 8px 0;
    width: 90%;
}

.art-image,
.art-illus,
iframe.art-illus {
    width: 35%;
    border-radius: 15px;
    object-fit: cover;
}

.art-text {
    width: 60%;
    margin-left: 20px;
}

.art-text h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.art-text p {
    font-size: 1.1rem;
    line-height: 1.5;
}

/* Inter-articles */
.inter-article {
    width: 100vw;
    aspect-ratio: 3/1;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position-y: center;
    background-attachment: fixed;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    width: 70%;
    padding: 50px;
    background-color: var(--col-dark-alt);
    border-radius: 10px;
    box-shadow: var(--col-shadow) 2px 2px 4px 0;
}

#inter1 {
    background-image: url('../assets/pictures/inter1.png');
}

#inter2 {
    background-image: url('../assets/pictures/inter2.png');
}


.board {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0.5rem;
    margin-bottom: 20px;
}

.cell {
    background-color: white;
    color: red;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell.win {
    background-color: #4caf50;
    color: white;
    transition: 0.3s;
}

.annonce {
    text-align: center;
    font-size: 3rem;
    color: blue;
    margin-bottom: 10px;
}

/* footer */
footer {
    position: relative;
    top: 20vh;
    background-color: var(--col-dark-alt);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-top: var(--col-light) solid 1px;
}

.foot-left {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    border-right: var(--col-light) solid 1px;
}

.foot-left>p {
    margin: 15px 0;
}

.foot-right {
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.site {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.site>p,
h3 {
    margin-bottom: 5px;
}

/* popup connexion */
#connect-background {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background-color: #ffffff32;
    backdrop-filter: blur(4px);
    z-index: 20;
    transition: opacity 0.5s;
}

#connect-background.active {
    display: flex;
    opacity: 1;
}

#connect-form {
    background-color: var(--col-dark-main);
    color: var(--col-light);
    padding: 20px;
    border-radius: 20px;
    box-shadow: var(--col-shadow) 2px 2px 4px 0;
    width: 60%;
}

#connect-form>form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#connect-form>form>* {
    display: block;
    margin: 5px 0;
}

#connect-form>form>label {
    font-size: 1.5rem;
}

#connect-form>form>input {
    font-size: 1.5rem;
    width: 100%;
    border-radius: 5px;
    background-color: var(--col-light);
    color: var(--col-dark-main);
    padding: 5px;
}

#connect-form>form>input:focus {
    background-color: var(--col-dark-main);
    color: var(--col-light);
    box-shadow: var(--col-shadow) 1px 1px 2px 0;
}

#connect-form>form>.btn {
    width: 40%;
    margin: auto;
    margin-top: 30px;
}
