@font-face {
    font-family: "custom";
    src: url("./CaviarDreams.ttf");
}

@font-face {
    font-family: "script";
    src: url("./High_Spirited.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --col-dark-main: #0b1622;
    --col-dark-alt: #0d2a38;
    --col-light: #c2eef4;
    --col-shadow: #c2eef4b7;
}

html {
    font-size: 16px;
}

body {
    font-family: "custom", sans-serif;
    background-color: var(--col-dark-main);
    color: var(--col-light);
}

/* header */
header {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--col-dark-alt);
    border-bottom: var(--col-light) solid 1px;
    padding: 20px;
    z-index: 10;
}

h1 {
    font-family: "script", sans-serif;
    font-size: 3rem;
    margin: 0 25px;
}

.header-title {
    display: flex;
    align-items: center;
}

.header-title>img {
    width: 12%;
    border-radius: 15%;
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
}

/* boutons */
.btn {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 8px 25px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    margin: 0 15px;
    cursor: pointer;
}

.btn-dark {
    background-color: var(--col-dark-alt);
    color: var(--col-light);
}

.btn-dark:hover {
    background-color: var(--col-dark-main);
}

.btn-light {
    background-color: var(--col-light);
    color: var(--col-dark-main);
}

.btn-light:hover {
    background-color: var(--col-dark-alt);
    color: var(--col-light);
    border: var(--col-light) solid 2px;
    padding: 4px 21px;
}

/* main */
main {
    position: relative;
    top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
    margin-bottom: 20px;
}

.cell {
    background-color: white;
    color: red;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell.win {
    background-color: #4caf50;
    color: white;
    transition: 0.3s;
}

.annonce {
    font-size: 2rem;
    margin: 15px 0;
    text-align: center;
    color: #00f;
}

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--col-dark-alt);
    padding: 20px;
    border-top: var(--col-light) solid 1px;
}

.foot-left,
.foot-right {
    display: flex;
    flex-direction: column;
}

.site>p,
h3 {
    margin-bottom: 5px;
}

/* popup connexion */
#connect-background {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0; left:0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background-color: #ffffff32;
    backdrop-filter: blur(4px);
    z-index: 20;
    transition: opacity 0.5s;
}

#connect-form {
    background-color: var(--col-dark-main);
    color: var(--col-light);
    padding: 20px;
    border-radius: 20px;
    width: 60%;
}

#connect-form form {
    display: flex;
    flex-direction: column;
}

#connect-form form label,
#connect-form form input {
    margin: 5px 0;
    font-size: 1.2rem;
}

#connect-form form input[type="submit"] {
    width: 40%;
    margin-top: 20px;
}
